{% extends 'notes/base.html' %}

{% block content %}
    <h1>Knowledge Library</h1>

    <a class="btn btn-create" href="{% url 'note_create' %}">Create new note</a>

    {% for note in notes %}
        <div class="note">
            <h2>{{ note.title }}</h2>
            <p>{{ note.content }}</p>
            <p><strong>Category:</strong> {{ note.category }}</p>

            <a class="btn btn-edit" href="{% url 'note_update' note.id %}">Edit</a>
            <a class="btn btn-delete" href="{% url 'note_delete' note.id %}">Delete</a>
        </div>
    {% endfor %}
{% endblock %}